@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>
@foreach(var item in Model)
{
    await Html.RenderPartialAsync("PatianSp",item);
}
<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new { page = page }))
</div>




